DISCORD_BOT_TOKEN=
OPENAI_API_KEY=""
OPENAI_API_BASE_URL=""
OPENAI_MODEL=""
IMAGE_REVIEW_MODEL=""
# 图片描述模型
IMAGE_DESCRIBE_MODEL=""
SYSTEM_PROMPT=""
DELETE_TEMP_FILES=""
MAX_PARALLEL=5
# Bot 应该驻留的服务器ID白名单（用英文逗号分隔）
BOT_SHOULD_IN_GUILD_IDS=1134557553011998840,1380075940285124724
# 自动回复功能 - 监听的频道ID列表（用逗号分隔）
AUTO_REPLY_CHANNELS=
# 自动清理功能 - 临时文件
AUTO_GC=""
AUTO_GC_INTERVAL=""
AUTO_GC_GRACE=""
# 自动清理功能 - 存档文件
AUTO_ARCHIVE_GC=""
AUTO_ARCHIVE_GC_INTERVAL=""
AUTO_ARCHIVE_GC_GRACE=""
AUTO_ARCHIVE_GC_FOLDER=""

# 反馈功能配置
# 反馈信息转发的频道ID
COMMIT_CHANNEL_ID=

# 前端随机模型功能
# 前端随机模型名称列表（用逗号分隔）
RANDOM_MODEL_NAMES=""

# 快速处罚功能配置
QUICK_PUNISH_ENABLED=true
# 可执行此命令的身份组ID列表（用逗号分隔）
QUICK_PUNISH_ROLES=
# QUICK_PUNISH_ROLES=1397937296040267849 #徽章大师
# 需要移除的身份组ID列表（用逗号分隔）- 需要替换为实际的身份组ID
QUICK_PUNISH_REMOVE_ROLES=
# 日志频道ID
QUICK_PUNISH_LOG_CHANNEL=
# 日志子区ID（可选，如果设置则优先使用子区）
QUICK_PUNISH_LOG_THREAD=
# 对接频道ID
QUICK_PUNISH_INTERFACE_CHANNEL=
# 申诉频道ID（在私信中提及）
QUICK_PUNISH_APPEAL_CHANNEL=
#对接机器人的用户ID
QUICK_PUNISH_INTERFACE_BOT_ID=

# alert 系统
TARGET_CHANNEL_OR_THREAD=
ALERT_CHANNEL_OR_THREAD=
MIN_INTERVAL=
